
*{
  margin: 0;
  padding : 0;
}


body{

    background-image: url('calculo.jpg');

}


.Calculadora{
    width:5%;
    margin-left: 10%;
    margin-top: 0%;
    padding: 100px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    min-height: 500px;
}

table {
    padding: 20%;
    background-color: rgb(28, 60, 78);
    box-shadow: 0 0 3px 3px rgba(0, 255, 213, 2.5);
    border: rgb(0, 255, 255) 8px ridge;
    border-radius: 10%;
  }


input{
  text-align: center;
  width: 130px; 
  height: 90px; 
  padding: 4px; 
  margin: 2px;
  margin-right: 2px; 
  margin-bottom: 4px; 
  margin-inline-end: 2px; 
  font-size: x-large;
  background-color: rgb(109, 135, 151);
}

input#resul{
  width: 390%; 
  font-size: xx-large;
  background-color: rgb(178, 190, 197);
  
}