

* {
    box-sizing: border-box;
  }
  

*{
    margin: 0;
    padding: 0;
    }


@font-face
{
    font-family: 'TITULO';
    src: url(Retrolab.ttf)
}

@font-face
{
    font-family: 'tittle';
    src: url(Bau\ Asem.ttf)

}


body{

    background-image: url('fondo.jpg');

}



h1{
    font-family: 'TITULO';
    font-size: 650%;
    text-align: center;
    color: rgb(0, 255, 213);
    text-decoration: underline rgb(0, 255, 213);
}


h2{
    font-family: 'tittle';
    color: white;
    text-align: center;
}



p1{
    font-family: 'tittle';
    padding: 5px;  
    margin: 10px;  
    color: white;
    font-size: medium;
}


left{

    width:30%;
    border: rgb(0, 255, 213) 8px ridge;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: left;
    color: rgb(255, 255, 255);
    min-height: 500px;

}

right{

    border: rgb(0, 255, 213) 8px ridge;
    width: 65%;
    float: right;
    color: white;
    min-height: 500px;

}


.imagen{

    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    margin-left: 3cm;

}


.padding{

    border: rgb(0, 255, 213) 8px ridge;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    color: white;
    font-size: large;

}


.title{

    font-family: 'TITULO';
    margin-bottom: 3.5%;
    font-size: 300%;
    color:rgb(0, 255, 213);
    text-align: center;
    text-decoration: underline rgb(0, 255, 213);
    
 }

 .imagen1{
    
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    margin: 8.5%;
     
 }

 .imagenes {

    margin-top: 2.25%;
    display: flex;

  }
  
#foto{

    max-width: 60%;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);

}

#foto2{

    max-width: 40%;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);

}

.link{

    float :left;
    padding: 5px;  
    margin: 10px;  
    color: rgb(0, 255, 213);
    font-size: x-large;

}


.imagen2{

    float :left;
    margin-left: 3%;
    margin-top: 3.5%;
    border-radius: 50%;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    
  }

.MASGRANDE{

    font-family: 'tittle';
    font-size: X-large;
    color: white;
    text-align: center;

}


.imagen3{

    float :right;
    margin-right: 3%;
    margin-top: 3.5%;
    border-radius: 50%;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);

  }

.imagen4{

    float :left;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    border-radius: 50%;
    margin-left: 3%;
    margin-top: -3%;

}

.imagen5{

    float :right;
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    border-radius: 50%;
    margin-right: 0%;
    margin-top: -4.75%

}

.imagen6{

    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    float :left;
    margin-left: 7%;
    margin-top: 2%
    
}

.imagen7{
    
    box-shadow: 0 0 7px 7px rgba(0, 255, 213, 2.5);
    float :right;
    margin-right: 3%;
    margin-top: 2%
    
}

@media screen and (max-width: 600px) {
    .left {
      width: 100%;
    }

    .right {
        width: 100%;
    }


    .imagenes {
        width: 100%;
      }
  
      .imagen {
          width: 100%;
      }



      .imagen1 {
        width: 100%;
      }
  
      .imagen2 {
          width: 100%;
      }



      .imagen3 {
        width: 100%;
      }
  
      .imagen4 {
          width: 100%;
      }



      .imagen5 {
        width: 100%;
      }
  
      .imagen6 {
          width: 100%;
      }


      .imagen7 {
        width: 100%;
      }

}