body{
    background-image: url('fondo.jpg');
    }
 
 /*Aquí modifico el párrafo p1*/
 .texto{
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: white;
    color: white;
    font-size: medium;
}
 
 /* Estilo de la caja lateral*/
 left{
    width:30%;
    border: 10px double;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: left;
    color: rgb(0, 255, 213);
}
/*Estilo de la caja principal*/
right{
    border: 10px double;
    width: 65%;
    float: right;
    color: rgb(0, 255, 213);
}
 .imagen{
     margin-left: 3cm;
 }
 .padding{
     border: solid rgb(0, 255, 213);
     margin: 10px;
     padding: 10px;
     text-align: justify;
     color: white;
 }
 /*Definimos los títulos*/
 .title{
     font-size: x-large;
     color:rgb(0, 255, 213);
     text-align: center;
     font-family: monospace;
     font-size: xx-large;
 }
 .bailoteo{
    position:absolute;
    left: 180px;
    top:870px;
}