body{
    background-image: url('fondo.jpg');
    }
 

 .texto{
    padding: 5px;  
    margin: 10px;  
    border: white 8px groove;
    border-color: white;
    color: white;
    font-size: medium;
}
 

 left{
    width:30%;
    border: white 8px groove;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: left;
    color: rgb(0, 255, 213);
}

right{
    width:30%;
    border: white 8px groove;
    margin: 0px;
    padding: 10px;
    text-align: justify;
    float: right;
    color: rgb(0, 255, 213);
}
 .imagen{
     margin-left: 3cm;
 }
 .padding{
     border: white 8px groove;
     margin: 10px;
     padding: 10px;
     text-align: justify;
     color: white;
 }

 .title{
     font-size: x-large;
     color:rgb(0, 255, 213);
     text-align: center;
     font-family: monospace;
     font-size: xx-large;
 }
 