*{
    box-sizing: border-box;
}

body{
    background-image: url('fondo.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}


@font-face
{
    font-family: 'TITULO';
    src: url(Arcade.ttf)
}


p1{
    background: linear-gradient(to right, rgb(238, 89, 89),rgb(241, 179, 64),rgb(243, 243, 104),rgb(128, 250, 128),rgb(0, 153, 255),rgb(230, 102, 247),rgb(236, 162, 236));
    -webkit-background-clip: text; 
    color: transparent;  
}


h1{
    font-family: 'TITULO';
    font-size: 700%;
    background: linear-gradient(to right, red,orange,yellow,rgb(83, 255, 83),rgb(63, 63, 255),rgb(144, 21, 231),violet);
    -webkit-background-clip: text;
    color: transparent;  
    text-decoration: underline #fd00e8;
    margin-top: -5%
}

h2{
    font-family: 'TITULO';
    background: linear-gradient(to right, red,orange,yellow,rgb(83, 255, 83),rgb(63, 63, 255),rgb(144, 21, 231),violet);
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 200%;
    text-decoration: underline #fd00e8;
}

canvas{
    background-color:rgba(0,0,0, 0.5);
    display: block;
    border-radius: 5px;
    border: rgb(0, 255, 213) 1px ridge;
    box-shadow: 0 0 1px 1px rgba(0, 255, 213, 2.5);
    
}


#gif{

    float :left;
    box-shadow: 0 0 3px 3px rgba(0, 255, 213, 2.5);
    margin-left: -54%;
    margin-top: -69%;

}

#gif1{

    float :right;
    box-shadow: 0 0 3px 3px rgba(0, 255, 213, 2.5);
    margin-right: -54%;
    margin-top: -69%
}



.btn{
    cursor: pointer;
    font-size: 100%;
    border: 0;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(238, 89, 89),rgb(241, 179, 64),rgb(243, 243, 104),rgb(128, 250, 128),rgb(0, 153, 255),rgb(230, 102, 247),rgb(236, 162, 236));
    background-clip: text;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.btn:focus{
    outline: 0;
}

.btn:hover{
    background: #222;
}

.btn:active{
    transform: scale(0.98);
}

.rules-btn{
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0, 0.75);;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show{
    transform: translateX(0);
}